@model IEnumerable<Player>

@{
    ViewData["Title"] = "Player";
}

<div class="text-center">
    <h1 class="display-4">Player</h1>
</div>

<a asp-action="Add" class="ml-3">Add Player</a>


<table class="table">
    <thead>
        <tr><th>Name</th><th>League</th><th>Team</th><th>Salary</th><th>Platform</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (Player player in Model)
        {
        <tr>
            <td>@player.PlayerName</td>
            <td>Champion</td>
            <td>Spartans</td>
            <td>@player.Salary</td>
            <td>PC</td>
            <td>
                <a asp-action="Delete" asp-route-id="@player.PlayerId"
                   class="btn btn-outline-dark">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

